body {
    background-color: #E9EBEE;
    /* background: url('images/backgound.jpg') no-repeat center; */
}
header {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(50px);
}
header .profile img {
    margin-left: 30px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-top: 17px;
}

header .aboutus img {
    margin-left: 30px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-top: 17px;
}
header .logo img {
    margin-left: 100px;
    margin-right: 20px;
    width: 100px;
    height: 70px;
    border-radius: 50px;
}

header .logo {
    margin-top: 10px;
    font-family: 'Kavoon', cursive;
}

header .form-floating {
    margin-top: 8px;
    margin-left: 10px;
    width: 300px;
}

header .form-floating .form-control {
    height: 20px;
    border-radius: 20px;
}

header a {
    text-decoration: none;
}

header .cart {
    margin-left: auto;
    margin-top: 17px;
}

header .cart img {
    width: 35px;
    height: 35px;
    display: block;
    margin: 17px auto;
}


.card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 23px 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.form-floating #floatingInput {
    background: url('images/person-icon.png') no-repeat left center;
    background-color: #ffffff;
    background-size: 15px;
    padding-left: 36px !important;
}

.form-floating #floatingPassword {
    background: url('images/password-icon.png') no-repeat left center;
    background-color: #ffffff;
    background-size: 15px;
    padding-left: 36px !important;
}

.form-floating #floatingInput,
.form-floating #floatingPassword {
    background-position: left 10px center;
}

.form-floating label{
    margin-left: 24px;
}
/* 
.form-floating label {
    color: #000000;
} */

.btn {
    width: 100px;
}

.form-label-custom {
    font-family: 'Constantia', sans-serif;
}
